# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.json]
indent_size = 2

# Trailing spaces have meaning in Markdown
[*.md]
trim_trailing_whitespace = false

[*.plist]
indent_style = tab

[*.yml]
indent_size = 2

[script/*]
indent_size = 2
max_line_length = 80
