*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xcarchive
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.zip
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.envrc
.fseventsd
.rubygems/
Carthage/Build
DerivedData
Pods/
Temporary Items
bin/
build/
xcuserdata
