*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xcarchive
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.zip
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.build/
.envrc
.fseventsd
.idea/
.rubygems/
.secrets
.swiftpm/
.vscode/
Carthage/
DerivedData
Pods/
Sources/mas/Package.swift
Sources/MasKit/Package.swift
Temporary Items
bin/
build/
default.profraw
gha/
releases/
xcuserdata
