#
# .swiftformat
# mas-cli
#
# https://github.com/nicklockwood/SwiftFormat#config-file
#

--exclude Carthage/,docs/

# Disabled rules
--disable blankLinesAroundMark

# Enabled rules (disabled by default)
--enable trailingClosures

# Rule options
--commas inline
--guardelse same-line
--importgrouping testable-last
