//
// This file defines additional configuration options that are appropriate only
// for watchOS. This file is not standalone -- it is meant to be included into
// a configuration file for a specific type of target.
//

// Where to find embedded frameworks
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

// The base SDK to use (if no version is specified, the latest version is
// assumed)
SDKROOT = appletvos

// Supported device families
TARGETED_DEVICE_FAMILY = 3
