//
// This file defines additional configuration options that are appropriate only
// for a framework on macOS. This should be set at the target level for each
// project configuration.
//

// Import base framework settings
#include "../Base/Targets/Framework.xcconfig"

// Import common settings specific to macOS
#include "macOS-Base.xcconfig"

// Where to find embedded frameworks.
// First search `Frameworks` in the .framework, then one in the .app.
// If app is cli at `/usr/local/bin/foo`, `@executable_path/../Frameworks`
// means `/usr/local/Frameworks`.
LD_RUNPATH_SEARCH_PATHS = $(inherited) @loader_path/Frameworks @executable_path/../Frameworks
